.App {
  background-color: #282c34;
  height: 100%;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  min-height: 100vh;
}

.table-hat {
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}

#mainContainer {
  height: 100%;
}

#mainSheet {
  width: 90%;
  margin: auto;
  margin-top: 64px;
}

#update:hover {
  cursor: pointer;
  color: azure
}

#index-btn {
  justify-self: center;
}

.row {
  padding: 1rem;
}

.user-form {
  display: flex;
}

.sm {
  height: 32px;
  width: 214px;
  margin-right: 1rem;
}

.user-form .btn {
  height: 40px;
  line-height: 40px;
}

.user-form .btn>button {
  width: auto;
}

.md {
  height: 32px;
  width: 360px;
  margin-right: 1rem;
}

/* TABLE */

.Table-wrapper {
  position: relative;
}

.csv-area>a>i>svg {
  color: #fff;
}

.csv-area {
  position: absolute;
  left: 0;
  bottom: 3.5%;
}

.ant-table table {
  background: whitesmoke;
}

#root>div>div>div>div:nth-child(2)>div.table-hat>div {
  display: flex;
  align-items: center;
}

.csvLink {
  display: hidden;
}

.select-month {
  width: 128px;
  height: 32px;
  margin-left: 16px;
}

@media (max-width: 1000px) {
  .user-form {
    flex-direction: column;
  }
  .user-form .btn {
    margin-bottom: 1.5rem;
  }
}