

.App {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 90%;
  margin:auto;
}
#index-btn {
  justify-self: center;
}
.row {
  padding-top:1.5rem;
}

.user-form {
  display: flex;
}

.user-form .sm {
  height: 32px;
  width: 214px;
  margin-right:1rem;
}
.user-form .btn {
  height: 40px;
  line-height: 40px;
}
.user-form .btn > button {
  width: auto;
}
.user-form .md {
  height: 32px;
  width: 360px;
  margin-right:1rem;
}
/* TABLE */
.ant-table table {
  background: whitesmoke;
}
@media (max-width: 1000px) {
  .user-form {
    flex-direction: column;
  }
  .user-form .btn {
    margin-bottom:1.5rem;
  }
}